<%= form_for([creator, gallery], html: {class: "gallery steppable_form"}) do |f| %>
  <%= render 'form_messages', object: gallery %>

  <div class="field-group">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>

  <%= render 'attachment', resource: gallery, label: :images %>

  <div class="actions">
    <div class="field-group">
      <%= f.submit "salvar", class: 'btn btn-primary', id: 'save' %>
      <%= link_to "enviar portfolio", send_portfolio_path, method: :post, data: { confirm: 'Deseja enviar? Você não poderá mais editar as informações.' }, class: 'btn' unless user_signed_in? %>
      <%= link_to "editar informações", edit_creator_path(@gallery.creator.id), class: 'btn' %>
    </div>

    <% if user_signed_in? %>
      <dl class="field-group">
        <dt class="status-ctn">status</dt>
        <dd class="field no-margin">
          <%= f.radio_button :state, "unapproved" %><%= f.label :published, " #{t('publisher.unapproved')}", :class => 'inline', :value => "unapproved" %>
        </dd>
        <dd class="field no-margin">
          <%= f.radio_button :state, "draft" %><%= f.label :published, " #{t('publisher.draft')}", :class => 'inline', :value => "draft" %>
        </dd>
        <dd class="field no-margin">
          <%= f.radio_button :state, "published" %><%= f.label :published, " #{t('publisher.published')}", :class => 'inline', :value => "published" %>
        </dd>
      </dl>
      <dl class="field-group">
        <dt><%= f.label :published_at %></dt>
        <dd>
          <%= f.text_field :published_at, value: gallery.published_at.try(:strftime, '%d/%m/%Y'), class: 'datepicker' %>
        </dd>
      </dl>

      <%- unless gallery.new_record? -%>
        <div class="field-group">
          <%= link_to "visualize", creator_gallery_path(creator, gallery), class: 'btn' %>
          <%= link_to "remove", creator_gallery_path(creator, gallery), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      <%- end -%>
    <% end %>
  </div>
<% end %>
