<!-- INCLUIR POST EM DESTAQUE -->
<article class="l-highlight posts-list-item">
  <header class="highlight-header">
    <h1 class="post-title post-title-highlight">
      <%= link_to @highlight.title, @highlight %>
    </h1>
    <%= @highlight.resume_formatted.html_safe %>
  </header>

  <div section class="gallery-block">
    <ul class="gallery-list" id="0">
      <li class="loading"></li>
      <%- @highlight.photos.each do |p| -%>
        <li class="gallery-item" data-thumb_src= "<%= p.gallery_thumb.url %>" data-gallery="<%= { large_width: p.gallery.size['width'], large_height: p.gallery.size['height'], large_src: p.gallery.url }.to_json %>"> <%= image_tag(p.gallery_thumb.url, :class=>"gallery-image") %> </li>
      <%- end -%>
      <li class="arrow left-arrow"></li>
      <li class="arrow right-arrow"></li>
    </ul>
  </div>

  <%= render partial: 'tags', locals: { resource: @highlight } %>

</article>
<!-- FECHA POST EM DESTAQUE -->

