<li class="posts-list-item list-item actions-wrapper <%= 'draft' unless inspiration.published?  %>">
  <%= link_to(image_tag(inspiration.cover.thumb.url), inspiration, class: "post-thumb") if inspiration.cover.present? %>

  <%= content_tag(:label, class: "post-category-label category-#{inspiration.main_category}") do %>
    <%= link_to t("&nbsp;"), inspiration_path(inspiration.main_category) if inspiration.main_category.present? %>
  <%- end -%>

  <h1 class="post-title post-title-highlight">
    <%= link_to inspiration.title, inspiration%>
  </h1>
  <p class="post-resume">
    <%= inspiration.resume %>
  </p>

  <%- if user_signed_in? -%>
    <%= link_to "editar", edit_inspiration_path(inspiration), class: "btn btn-primary actions-control" %>
  <%- end -%>
</li>
