<section class="inspiracao-show container">
  <div class="section-header-ctn">
    <h1 class="section-title">
      inspiração
    </h1>
  </div>
  
  <article class="posts-item actions-wrapper">
    <div section class="post-gallery l-highlight">
      <ul class="gallery-list" id="0">
        <li class="loading"></li>
        <%- @inspiration.photos.each do |p| -%>
          <li class="gallery-item" data-thumb_src= "<%= p.gallery_thumb.url %>" data-gallery="<%= { large_width: p.gallery.size['width'], large_height: p.gallery.size['height'], large_src: p.gallery.url }.to_json %>"> <%= image_tag(p.gallery_thumb.url, :class=>"gallery-image") %> </li>
        <%- end -%>
        <li class="arrow left-arrow"></li>
        <li class="arrow right-arrow"></li>
      </ul>
    </div>  
    <section class="post-text">
      <h1 class="post-title post-title-highlight">
        <%= link_to @inspiration.title, @inspiration %>
      </h1>
      <%= @inspiration.description_formatted.html_safe %>
    </section>
    
    <%= render partial: 'tags', locals: { resource: @inspiration } %>
    
    <%- if user_signed_in? -%>
      <%= link_to "editar", edit_inspiration_path(@inspiration), class: "btn btn-primary actions-control" %>
    <%- end -%>
    
  </article>  
</section>
