<%= form_for(mine) do |f| %>
  <%= render 'form_messages', object: mine %>

  <div class="field-group">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :resume %>
      <%= f.text_area :resume %>
    </div>
  </div>

  <div class="actions">
    <div class="field-group">
      <%= f.submit "save mine", class: 'btn btn-primary' %>
      <%= link_to "cancel", :back, class: 'btn' %>
    </div>
  </div>
<% end %>
