<section class="home-index container">
  
  <!-- CREATORS -->
  <section class="creators-home section-spacer">
    <div class="section-header-ctn">
      <%= render 'shared/page_title', page: @creator_page %>
    </div>
    <div class="river-window">
      <ul class="creators-list creators-list-highlight opa-effect-container">
        <%= render partial: 'creators/creators_list', collection: @creators, as: :creator %>
        <%= link_to_next_page @creators, "", :id => "paginate"  %>
      
        <%= render 'creators/creator_preview' %>
      
      </ul>
      <div class="arrow left-arrow home-river"></div>
      <div class="arrow right-arrow home-river"></div>
    </div>
  </section>
  
  <!-- INSPIRAÇÃO -->
  <section class="inspiracao-home section-spacer">
    <div class="section-header-ctn">
      <%= render 'shared/page_title', page: @inspiration_page %>
    </div>

    <ul class="posts-list">
      <%= render partial: 'inspirations/list', collection: @inspirations, as: :inspiration  %>
    </ul>
  </section>

</section>
