<%= form_for(page) do |f| %>
  <%= render 'form_messages', object: page %>

  <div class="field-group">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.hidden_field :type %>
    </div>
  </div>

  <div class="actions">
    <div class="field-group">
      <%= f.submit "save page", class: 'btn btn-primary' %>
      <%= link_to "cancel", polymorphic_path(page.type), class: 'btn' %>
    </div>

    <%#= render 'status', object: page, f: f %>

    <%- unless page.new_record? -%>
    <div class="field-group">
      <%= link_to "visualize", polymorphic_path(page.type), class: 'btn' %>
      <%= link_to "remove", page, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
    <%- end -%>
  </div>
<% end %>
