<%= form_for(creator, html: { class: "creator steppable_form"}) do |f| %>
  <%= render 'form_messages', object: creator %>

  <div class="field-group">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.label :occupation %>
      <%= f.text_field :occupation %>
    </div>
    <div class="field">
      <%= f.label :release %>
      <%= f.text_area :release %>
    </div>
  </div>

  <div class="field-group">
    <div class="field">
      <%= f.label :interview %>
      <%= f.text_area :interview %>
    </div>
  </div>

  <div class="field-group">
    <div class="field">
      <%= f.label :main_category %>
      <% Creator::CATEGORIES.each do |category| %>
        <p>
          <%= radio_button :creator, :main_category, category %>
          <%= t("category.#{category}") %>
        </p>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :categories %>
      <% Creator::CATEGORIES.each do |category| %>
        <p>
          <%= check_box_tag "categories[]", category, @creator.categories.include?(category), id: "categories_#{category}" %>
          <%= t("category.#{category}") %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="field-group">
    <div class="field">
      <%= label_tag :avatar %>
      <%= attachment_uploader creator, :photos, :image %>
      <%= attachment_loader creator, :photos %>
    </div>
  </div>

  <div class="field-group adm-imagens-gallery">
    <div class="field">
      <h6>
        galerias
        <% if user_signed_in? || @creator.galleries.empty?  %>
          <%= link_to "+ criar novo", new_creator_gallery_path(creator), class: "btn" if creator.second_step? %>
        <% end %>
      </h6>

      <ul>
      <% creator.galleries.each do |gallery| %>
        <li class="actions-wrapper adm-imagens-gallery-item">
          <%= image_tag(gallery.photos.first.thumb.url) if gallery.photos.present? %>
          <div class="actions-control">
            <%= link_to "editar", edit_creator_gallery_path(creator, gallery), class: "btn btn-primary" %>
            <%= link_to "remover", creator_gallery_path(creator, gallery), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </div>
          <div class="more-info">
            <%= gallery.title %><br>
            <%= t(:gallery_quantity, count: gallery.photos.count) %>
            <%= l(gallery.created_at, format: :short) %>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class="actions">
    <div class="field-group">
      <%= f.submit "salvar", class: 'btn btn-primary' if user_signed_in? && !@creator.new_record? %>
      <%= link_to "próximo passo", creator_step2_path(creator.id), method: :post, class: 'btn btn-primary step' if creator.can_second_step? %>
      <%= link_to "enviar portfolio", send_portfolio_path, method: :post, data: { confirm: 'Deseja enviar? Você não poderá mais editar as informações.' }, class: 'btn', id: 'send' if !user_signed_in? && creator.second_step? %>
      <%= link_to "cancel", :back, class: 'btn' %>
    </div>

    <% if user_signed_in? %>
      <%= render 'creator_status', object: creator, f: f %>

      <%- unless creator.new_record? -%>
      <div class="field-group">
        <%= link_to "visualize", creator, class: 'btn' %>
        <%= link_to "remove", creator, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
      <%- end -%>
    <% end %>
  </div>
<% end %>
