<section class="creators-index container">
  <header class="section-header-ctn">
    <%= render 'shared/page_title', page: @page %>
    <ul class="filters-ctn">
      <li class="filter-item">
        <%= form_tag search_creators_path, method: :get do %>
          <input type="text" placeholder="<%= search_placeholder(params[:query]) %>" class="bt bt-search-field" name="query">
          <button class="bt bt-toggle bt-toggle-search" type="submit">
            <span class="caret"></span>
          </button>
        <% end %>
      </li>
      <li class="filter-item" id="category-filter">
        <button class="bt bt-label"><%= filtered_category(params[:category_id]) %></button>
        <button class="bt bt-toggle">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <%- Creator::CATEGORIES.each do |category| -%>
            <li> <%= link_to t("category.#{category}"), category_path(category) %> </li>
          <%- end -%>
        </ul>
      </li>
      <li class="filter-item inverse-color">
        <%= link_to "be a creator!", new_creator_path, :class => 'submit-resume'  %>
      </li>
    </ul>
  </header>

  <ul data-resource_class="creator" class="creators-list opa-effect-container" id="<%= is_sortable?(user_signed_in?) %>">
    <li class="page-description-item actions-wrapper">
      <%= render 'shared/page_info', page: @page %>
    </li>
    <%= render partial: 'creators/creators_list', collection: @creators, as: :creator %>
    <%= link_to_next_page @creators, "", :id => "paginate" if @creators.respond_to? :last_page? %>
    <%= render "creators/creator_preview" %>
  </ul>
</section>