<%= form_for(inspiration) do |f| %>
  <%= render 'form_messages', object: inspiration %>

  <div class="field-group">
    <div class="field">
      <%= f.label :highlight %>
      <%= f.check_box :highlight %>
    </div>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :tag_list %>
      <%= f.text_field :tag_list %>
    </div>
    <div class="field">
      <%= f.label :resume %>
      <%= f.text_area :resume %>
    </div>
  </div>

  <div class="field-group">
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="field-group">
    <div class="field">
      <%= f.label :main_category %>
      <% Inspiration::CATEGORIES.each do |category| %>
        <p>
          <%= radio_button :inspiration, :main_category, category %>
          <%= t("category.#{category}") %>
        </p>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :categories %>
      <% Inspiration::CATEGORIES.each do |category| %>
        <p>
          <%= check_box_tag "categories[]", category, @inspiration.categories.include?(category) %>
          <%= t("category.#{category}") %>
        </p>
      <% end %>
    </div>
  </div>

  <%= render 'attachment', resource: inspiration, label: :imagens %>

  <div class="actions">
    <div class="field-group">
      <%= f.submit "save inspiration", class: 'btn btn-primary' %>
      <%= link_to "cancel", :back, class: 'btn' %>
    </div>

    <%= render 'status', object: inspiration, f: f %>

    <%- unless inspiration.new_record? -%>
    <div class="field-group">
      <%= link_to "visualize", inspiration, class: 'btn' %>
      <%= link_to "remove", inspiration, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
    <%- end -%>
  </div>
<% end %>
